{% extends "apof.html"%}
{%block title%}
restaurant menu
{% endblock %}
{% block header %}
     User: <b>{{username}}</b>    <a href="/logout/">logout</a>    <br/>
{% endblock %}
{% block content %}
List of dishes
<table border="5" >
	   <th> Dish</th> 
       <th> Ingredient </th>
       <th> Price </th>
       <th> Size </th>
       <th> Rate </th>
       
	{% for member in members %}
	<tr>
       <td> {{member.dish }} </td>
       <td> {{members.ingredient}} </td>
       <td> <a href="/user_cart/{{member.id}}">{{member.price}} </a></td>
       <td> {{member.size}} </td>
       <td> {{member.rating}} </td>
       </tr>
     {% endfor %}
      </table>
      
        
{% endblock %}
